@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Press+Start+2P&display=swap');
/* CONFIGURACIONES GENERALES */
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: #B43451;
}

body{
    background-color: #E6E2D0;
    cursor: url(../assets/cursor.png), auto;
}

.oscuro{
    background-color: #1B222D;
}



h1, h3{
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;

}

footer{
    width: 100%;
    padding: 5px;
    margin-top: 70px;

}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: #31497526;
}
.header div{
    display: flex;
}

.theme{
    width: 46px;
    height: 26px;
    background-color: #B43451;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition-duration: 0.5s;
}
.themeOscuro{
    width: 46px;
    height: 26px;
    background-color: #314975;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.5s;
}

.circulo{
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    background-color:#CBCBC2 ;
    transition-duration: 0.5s;
}
.circuloOscuro{
    width: 20px;
    height: 20px;
    margin: 3px;
    border-radius: 50%;
    background-color:#1F2837 ;
    transition-duration: 0.5s;
}




/*  JUEGOS 5X5  #0E402D*/

.gridTablero5x5{
    margin: 50px;
    display: grid;
    grid-template-columns:  100px 220px ;
    grid-template-rows: 50px 50px 220px;
    grid-template-areas: 
    "reloj infoColumn5x5"
    "boton infoColumn5x5"
    "infoFilas5x5 casilleros5x5";
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px;
}


.infoColumn5x5{
    grid-area: infoColumn5x5;
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    align-items: center;
    gap: 5px;
}


.infoFilas5x5{
    grid-area: infoFilas5x5;
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 40px 40px 40px 40px 40px;
    align-items: center;
    justify-items: center;
    gap: 5px;
}



.casilleros5x5{
    grid-area: casilleros5x5;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    align-items: center;
    gap: 5px;
}


.infoColumn5x5 p{
    color: #E6E2D0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 40px;
    height: 100px;
    background-color: #314975;
    border-radius: 10px;
}


.infoFilas5x5 p{
    color: #E6E2D0;
    width: 100px;
    height: 40px;
    background-color: #314975;
    border-radius: 10px;
}


/* PARA JUEGOS 10X10*/

.gridTablero10x10{
    display: grid;
    grid-template-columns: 100px 350px;
    grid-template-rows: 50px 50px 350px;
    grid-template-areas: 
    "reloj infoColumn10x10"
    "boton infoColumn10x10"
    "infoFilas10x10 casilleros10x10";
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.infoColumn10x10{
    grid-area: infoColumn10x10;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: 100px;
    align-items: center;
    gap: 5px;
}

.infoColumn10x10 p {
    color: #E6E2D0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 30px;
    height: 100px;
    background-color: #314975;
    border-radius: 10px;
}

.infoFilas10x10{
    grid-area: infoFilas10x10;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(10, 30px);
    align-items: center;
    gap: 5px;
}

.infoFilas10x10 p {
    color: #E6E2D0;
    width: 100px;
    height: 30px;
    background-color: #314975;
    border-radius: 10px;
}

.casilleros10x10{
    grid-area: casilleros10x10;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    align-items: center;
    gap: 5px;
}

/* PARA JUEGOS 15X15*/

.gridTablero15x15{
    display: grid;
    grid-template-columns: 100px 450px;
    grid-template-rows: 50px 50px 450px;
    grid-template-areas: 
    "reloj infoColumn15x15"
    "boton infoColumn15x15"
    "infoFilas15x15 casilleros15x15";
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.infoColumn15x15{
    grid-area: infoColumn15x15;
    display: grid;
    grid-template-columns: repeat(15, 25px);
    grid-template-rows: 100px;
    align-items: center;
    gap: 5px;
}

.infoFilas15x15{
    grid-area: infoFilas15x15;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(15, 25px);
    align-items: center;
    gap: 5px;
}

.casilleros15x15{
    grid-area: casilleros15x15;
    display: grid;
    grid-template-columns: repeat(15, 25px);
    grid-template-rows: repeat(15, 25px);
    align-items: center;
    gap: 5px;
}

.infoColumn15x15 p{
    color: #E6E2D0;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 25px;
    height: 100px;
    background-color: #314975;
    border-radius: 8px;
}

.infoFilas15x15 p{
    color: #E6E2D0;
    width: 100px;
    height: 25px;
    background-color: #314975;
    border-radius: 8px;
}

/* PARA JUEGOS 20X20*/

.gridTablero20x20{
    display: grid;
    grid-template-columns: 150px 500px;
    grid-template-rows: 60px 60px 475px;
    grid-template-areas: 
    "reloj infoColumn20x20"
    "boton infoColumn20x20"
    "infoFilas20x20 casilleros20x20";
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.infoColumn20x20{
    grid-area: infoColumn20x20;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: 120px;
    align-items: center;
    gap: 4px;
}

.infoFilas20x20{
    grid-area: infoFilas20x20;
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: repeat(20, 20px);
    align-items: center;
    gap: 4px;
}

.casilleros20x20{
    grid-area: casilleros20x20;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    align-items: center;
    gap: 4px;
}

.infoColumn20x20 p {
    color: #E6E2D0;
    text-orientation: upright;
    width: 20px;
    height: 120px;
    background-color: #314975;
    border-radius: 6px;
}


.infoFilas20x20 p{
    color: #E6E2D0;
    width: 150px;
    height: 20px;
    background-color: #314975;
    border-radius: 6px;
}
/* PARA TODOS LOS JUEGOS*/

.boton{
    grid-area: boton;
    width: 56px;
    height: 31px;
    border-radius: 15px;
    border: 1px solid #9CB1A3;
    background-color: #E6E2D0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition-duration: 0.5s;
}

.botonVerde{
    grid-area: boton;
    width: 56px;
    height: 31px;
    border-radius: 15px;
    border: none;
    background-color: #9CB1A3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.5s;
}

.circuloBoton{
    width: 23px;
    height: 23px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid #9CB1A3;
    background-color:#E6E2D0 ;
    transition-duration: 0.5s;
}

.circuloBotonOscuro{
    width: 23px;
    height: 23px;
    margin: 3px;
    border-radius: 50%;
    border: 1px solid #1B222D;
    background-color:#1B222D ;
    transition-duration: 0.5s;
}






.corazon{
    grid-area: corazon;
}

img{
    width: 30px;
    padding: 5px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    user-select: none;
}

.celdas5x5{
    background-color: #E6E2D0;
    color: #E6E2D0;
    border: 1px solid #9CB1A3;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}

.celdas10x10{
    background-color: #E6E2D0;
    color: #E6E2D0;
    border: 1px solid #9CB1A3;
    border-radius: 8px;
    width: 30px;
    height: 30px;
}

.celdas15x15{
    background-color: #E6E2D0;
    color: #E6E2D0;
    border: 1px solid #9CB1A3;
    border-radius: 8px;
    width: 25px;
    height: 25px;
}

.celdas20x20{
    background-color: #E6E2D0;
    color: #E6E2D0;
    border: 1px solid #9CB1A3;
    border-radius: 6px;
    width: 20px;
    height: 20px;
}







.ocultarCelda{
    background-color: transparent;
    color: transparent;
    border: none;
}

.activo{
    background-color: #9CB1A3;
    color: #9CB1A3;
    border: none;
}

.cambiarColorIncorrecto5, .cambiarColorIncorrecto10, .cambiarColorIncorrecto15, .cambiarColorIncorrecto20{
    background-color: #B33951;
    color: #B33951;
    border: none;
}

.cambiarColorIncorrecto5::after{
    content: " ";
    width: 36px;
    height: 36px;
    background-color: #E6E2D0;
    border-radius: 8px;
    position: absolute;
}

.cambiarColorIncorrecto10::after{
    content: " ";
    width: 26px;
    height: 26px;
    background-color: #E6E2D0;
    border-radius: 6px;
    position: absolute;
}

.cambiarColorIncorrecto15::after{
    content: " ";
    width: 21px;
    height: 21px;
    background-color: #E6E2D0;
    border-radius: 6px;
    position: absolute;
}

.cambiarColorIncorrecto20::after{
    content: " ";
    width: 16px;
    height: 16px;
    background-color: #E6E2D0;
    border-radius: 4px;
    position: absolute;
}

.esconder p{
    color: #314975;
}

.reloj{
    grid-area: reloj;
}

.reloj p{
    display: inline;
    color: #B33951;
}

.btnPause{
    width: 20px;
}



/* INDEEEEXXXX*/
.bclaro, .boscuro{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #91C7B1;
    margin: 1px;
}

main{
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.h1index{
    font-size: 100px;
    margin: 100px;
    animation-name: titulos;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes titulos {
    0%{
        transform: translateX(0%) translateY(0%);
    }
    20%{
        transform: translateX(5px) translateY(10px);
        ;
    }
    40%{
        transform: translateX(-5px) translateY(5px);
    }
    40%{
        transform: translateX(0) translateY(0)
    }
    60%{
        transform: translateX(-5px) translateY(-5px);
    }
    80%{
        
        transform: translateX(5px) translateY(-5px);
    }
}




.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: -1;
}

.fondo div{
    width: 15px;
    height: 15px;
    margin: 1px;
    border-radius: 5px;
    background-color: transparent;
    transition-delay: 0.2s;
    position: relative;
}

.fondo div:hover{
    background-color: #9CB1A3;
    transition-delay: 0s;
}
.fondoOscuro div:hover:hover{
    background-color: #314975;
}



.aIndex{
    width: 300px;
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    margin: 1px;
    padding: 5px;
    border-radius: 10px;
}

.aIndex:hover{
    background-color: #E3D081;
}



.listaTablero{
    margin: 0px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    justify-items: start;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;

}

.listaTablero:hover{
    background-color: #31497526;
}

#ulLista5x5{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
}

.h2Jugar{
    margin: 80px auto;
    font-size: 60px;
}

.ulListaTamanoTableros{
    width: 50%;
    margin: 50px auto;
    list-style: none;
}
.ulListaTamanoTableros li{
    margin: 20px ;
    padding: 10px;
    border-radius: 10px;
    animation-name: titulos;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.ulListaTamanoTableros li:first-child{
    animation-delay: 0.1s;
}
.ulListaTamanoTableros li:nth-child(2){
    animation-delay: 0.2s;
}
.ulListaTamanoTableros li:nth-child(3){
    animation-delay: 0.3s;
}
.ulListaTamanoTableros li:nth-child(4){
    animation-delay: 0.4s;
}

.ulListaTamanoTableros li:hover{
    background-color: #31497526;
}

.ulListaTamanoTableros li a{
    margin: 20px 20px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
}

.popUp-class{
    border-radius: 10px;
}

.h3perdiste{
    color: #E6E2D0;
}

.h3ganaste{
    color: #429973;
}



.nombreTablero{
    grid-area: nombreJuego;
    margin: 50px auto;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    -webkit-text-stroke: 0.5px #B33951;
}


/* PERFIL PERFIL PERFIL PERFIL PERFIL PERFIL PERFIL PERFIL PERFIL */


#infoUsuario{
    margin: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
}

#infoUsuario p{
    font-size: 20px;
    margin: 10px;
}

/* FORMULARIO */

.formulario{
    margin: 50px auto;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #B33951;
    border-radius: 10px;
}

.label{
    text-transform: uppercase;
    font-size: 20px;
}

/* #nombreFormLabel{
} */
#nombreForm{
    margin: 10px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    background-color: #31497526;
    border: none;
    border-radius: 10px;
}
/* #emailFormLabel{

} */
#emailForm{
    margin: 10px;
    height: 50px;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    background-color: #31497526;
    border: none;
    border-radius: 10px;
}
.botonSubmit{
    margin: 10px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #B33951;
    color: #CBCBC2;
}