@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400&display=swap');
/* CONFIGURACIONES GENERALES */
*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Zen Maru Gothic', sans-serif;
    color: #B33951;
}

body{
    background-color: #F1F7ED;
    /* cursor: url(../assets/cursor30.png), auto; */
}

.oscuro{
    background-color: #333;
}


h1, h3{
    margin: 50px auto;
    text-transform: uppercase;
}

footer{
    margin-top: 70px;
}


/*  JUEGOS 5X5  #0E402D*/

.gridTablero5x5{
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 100px 250px;
    grid-template-areas: 
    "boton infoColumn5x5"
    "infoFilas5x5 casilleros5x5"
    "reloj corazon";
    justify-content: center;
    gap: 2px;
}


.infoColumn5x5{
    grid-area: infoColumn5x5;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    align-items: center;
    gap: 2px;
}


.infoFilas5x5{
    grid-area: infoFilas5x5;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    align-items: center;
    gap: 2px;
}



.casilleros5x5{
    grid-area: casilleros5x5;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px;
    align-items: center;
    gap: 2px;
}


/* PARA JUEGOS 10X10*/

.gridTablero10x10{
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 100px 500px;
    grid-template-areas: 
    "none infoColumn10x10"
    "infoFilas10x10 casilleros10x10";
    justify-content: center;
    align-items: center;
}

.infoColumn10x10{
    grid-area: infoColumn10x10;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: 100px;
    justify-content: center;
    align-items: center;
    background-color:#E3D081;
}
.infoFilas10x10{
    grid-area: infoFilas10x10;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(10, 50px);
    align-items: center;
    background-color:#E3D081;
}

.casilleros10x10{
    grid-area: casilleros10x10;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    align-items: center;
}

/* PARA TODOS LOS JUEGOS*/

.boton{
    grid-area: boton;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: lightgrey;
    color: lightgrey;
}

.botonVerde{
    background-color: #429973;
    color: #429973;
}

.corazon{
    grid-area: corazon;
}

img{
    width: 40px;
    margin-top: 20px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    user-select: none;
}

.celdas{
    background-color: #91C7B1;
    color: #91C7B1;
    border-radius: 10px;
    width: 50px;
    height: 50px;
}


.infoColumn10x10 p, .infoColumn5x5 p {
    color: #B33951;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 50px;
    height: 100px;
    background-color: #E3D081;
    border-radius: 10px;
}

.infoFilas10x10 p, .infoFilas5x5 p {
    color: #B33951;
    width: 100px;
    height: 50px;
    background-color: #E3D081;
    border-radius: 10px;
}

.gris{
    background-color: lightgrey;
    color: lightgrey;
}

.activo{
    background-color: #429973;
    color: #429973;
}

.cambiarColorIncorrecto{
    background-color: #B33951;
    color: #B33951;
}

.cambiarColorIncorrecto::after{
    content: " ";
    width: 46px;
    height: 46px;
    background-color: lightgrey;
    border-radius: 8px;
    position: absolute;
}



.reloj{
    grid-area: reloj;
    margin-top: 30px;
}

.reloj p{
    display: inline;
    color: #B33951;
}

